<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="DefenseUnit">
	
  <test name="Regiment">
    <classes>
      <!--<class name="FrameWorkTest.MavenTest.AirForceTest"/>
      <class name="FrameWorkTest.MavenTest.ArmyTest"/> -->
      
      <class name ="FrameWorkTest.MavenTest.ReportTest"/>
      
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
